/*  */
body {
    margin: 0;
    padding: 0;
    background-color: #f9f9fa;
}
*{
    transition: .28s cubic-bezier(.4,0,.2,1);
}
hr {
    color: rgba(236, 236, 236, 0.2);
    border: 1px solid rgb(236, 236, 236);
}
a{
    text-decoration: none;
    color: black;

}

.select-a{
    border: 2px solid transparent;
}
.select-a:hover{
    border-bottom: 2px solid blue;
}
.navigation-bar{
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    line-height: 80px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    background-color: rgb(233, 241, 251);
}
.nav-flex-container{
    display: flex;
}
.nav-title{
    line-height: 50px;
    padding-left: 60px;
    font-size: 20px;
    font-weight: 800;
    width: fit-content;
}
.content-spacer{
    height: 80px;
}
body{
    height: 100%;
    display: flex;
    flex-direction: column;
}
.content-container{
    min-height: 600px;
    flex: 1;
}
.card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 40px;
    max-width: 1920px;
    margin: 0 auto;
}
.card-box{
    background-color: rgb(233, 235, 239);
    min-width: 320px;
    max-width: 400px;
    height: 200px;
    overflow: hidden;
    border: 1px solid transparent;
    transition: .28s cubic-bezier(.4,0,.2,1);
}
.card-box:hover{
    border: 1px solid #fff;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;

}
.card-title{
    font-size: 22px;
    font-weight: 400;
    padding: 20px;
    border-bottom:  1px solid gray;
    overflow: hidden;
    text-decoration: none;
    color: black;
}
.card-content{
    padding: 10px 20px;

}
.search-bar-container{
    width: 400px;
    height: 80px;
    background-color: cornflowerblue;
}
.server-info{

    
    /* border-top: 4px solid transparent; */
    border-left: 4px solid rgb(9, 128, 253);
    background-color: rgb(242, 242, 242);
    padding: 10px 10px;
    /* margin: 4px 0px; */
    
}

.loader {
    border: 4px solid rgba(0, 0, 0, 0.3);
    border-top: 4px solid #3498db; /* 加载动画的颜色 */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
  }
  
/* 旋转动画 */
@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
